nav {
  overflow: hidden;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: aliceblue;
}

nav a {
  padding: 20px;
  font-weight: 600;
  text-decoration: none;
}
